footer{
    background: rgb(255,0,0);
    background: linear-gradient(356deg, rgba(255,0,0,0.5525560566023284) 0%, rgba(0,150,70,0.46011908181241246) 39%, rgba(245,253,255,0) 69%);
}
.redes-footer{
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.link-footer{
    color: black;
    cursor: pointer;
        &:hover{
            color:$hover-footer;
            
        }
}
.bi-twitter{
    @include social ($tw)
}
.bi-facebook{
    @include social ($fb)
}
.bi-instagram{
    @include social ($ig)
}
.foot-mobile-logo{
    justify-content: end;
}
footer li{
    margin-bottom: 5px;
}