.card{
    border: none;
}
.video{
    max-width: 800px;
    margin:0 auto;
}
.contenido-main{
    max-width: 90%;
    margin: 0 auto;
}
.contenido-cultura{
    max-width: 1140px;
    margin: 0 auto;
        .texto{
            width: 90%;
            margin: 0 auto;
        }
}
.justificar{
    text-align: justify;
}
.contenedor-carrusel{
    max-width: 800px;
}
.tarjeta-home{
    transition: box-shadow 0.5s ease;
    &:hover{
        box-shadow: 0 0.1rem 2rem rgba(0,0,0,0.8);
    }
}
.card-ciudad{
    @extend .tarjeta-home;
    border: 0.5px solid rgba(128, 128, 128, 0.278);
    background-color: map-get($estilo-card, color );
}