
@import './variables';
@import './mixins';
@import './header';
@import './main';
@import './footer';


body{
    font-family: 'Montserrat', sans-serif;
}





@media (max-width: 767.98px) { 
    .foot-mobile{
        display: flex;
        justify-content: center;
    }
    .foot-mobile-logo{
        justify-content: center;
    }
    .contenido-main{
        max-width: 95%;
        .texto-main{
            max-width: 100%;
            p{
                font-size: 1em;
            }       
        }
    }
    iframe{
        border-radius: 0;
    }
}
@media (max-width: 575.98px) {
    .banner{
        display: none;
    }
    .banner-mobile{
        display: block;
    }
    
}
@media (min-width: 575.98px) {
    .banner{
        display: block;
    }
    .banner-mobile{
        display: none;
    }
}

 