
@import './variables';
@import './mixins';
@import './header';
@import './main';
@import './footer';


body{
    font-family: 'Montserrat', sans-serif;
}




@media (max-width: 767.98px) { 
    .foot-mobile{
        display: flex;
        justify-content: center;
    }
    .foot-mobile-logo{
        justify-content: center;
    }
 }
 