#logo {
  max-height: 4em;
  margin-left: 3em; }

.nav-link {
  color: #FF0000; }

.card {
  border: none; }

.video {
  max-width: 50rem;
  margin: 0 auto; }

.contenido-main {
  max-width: 90%;
  margin: 0 auto; }
  .contenido-main .titulo {
    color: #FF1616; }
  .contenido-main .texto-main {
    max-width: 80%; }

.contenido-cultura {
  max-width: 71.25rem;
  margin: 0 auto; }
  .contenido-cultura .titulo {
    color: #FF1616; }
  .contenido-cultura .texto {
    width: 90%;
    margin: 0 auto; }

.justificar {
  text-align: justify; }

.contenedor-carrusel {
  max-width: 800px; }

.tarjeta-home, .card-ciudad, .card-escapadas {
  transition: box-shadow 0.5s ease; }
  .tarjeta-home:hover, .card-ciudad:hover, .card-escapadas:hover {
    box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.8); }

.card-ciudad, .card-escapadas {
  border: 0.5px solid rgba(128, 128, 128, 0.278);
  background-color: #eae7e7; }

.titulo-card {
  color: aliceblue;
  font-size: 1.5em;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.482); }

iframe {
  border-radius: 1em; }

footer {
  background: red;
  background: linear-gradient(356deg, rgba(255, 0, 0, 0.552556) 0%, rgba(0, 150, 70, 0.460119) 39%, rgba(245, 253, 255, 0) 69%); }

.redes-footer {
  font-family: 'Montserrat', sans-serif;
  color: black; }

.link-footer {
  color: black;
  cursor: pointer; }
  .link-footer:hover {
    color: #ff00007d; }

.bi-twitter {
  font-style: normal; }
  .bi-twitter:hover {
    color: #1DA1F2; }

.bi-facebook {
  font-style: normal; }
  .bi-facebook:hover {
    color: #033b7a; }

.bi-instagram {
  font-style: normal; }
  .bi-instagram:hover {
    color: #A93891; }

.foot-mobile-logo {
  justify-content: end; }

footer li {
  margin-bottom: 5px; }

body {
  font-family: 'Montserrat', sans-serif; }

@media (max-width: 767.98px) {
  .foot-mobile {
    display: flex;
    justify-content: center; }
  .foot-mobile-logo {
    justify-content: center; }
  .contenido-main {
    max-width: 95%; }
    .contenido-main .texto-main {
      max-width: 100%; }
      .contenido-main .texto-main p {
        font-size: 1em; }
  iframe {
    border-radius: 0; } }

@media (max-width: 575.98px) {
  .banner {
    display: none; }
  .banner-mobile {
    display: block; } }

@media (min-width: 575.98px) {
  .banner {
    display: block; }
  .banner-mobile {
    display: none; } }
