body{
    font-family: 'Montserrat', sans-serif;
}
/* .container-fluid{
    height: 7.5em;
} */

#logo{
    max-height: 4em;
    margin-left: 3em;
}
.nav-link{
    color: #FF0000;
}
footer{
    background-color: #7C7C7C;
    color: #e0c8c8;
}